<mat-toolbar color="warn">
  <span>Identify</span>
 
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="signInWithGoogle()" *ngIf="!this.sharedServiceService.loggedIn()">
    <img src="assets/signIn.svg" alt="sign in with google">
  </button>
  <button mat-icon-button (click)="signOut()" *ngIf="this.sharedServiceService.loggedIn()">
    <i class="material-icons">
      exit_to_app
    </i>
  </button>
  <div *ngIf="this.sharedServiceService.loggedIn()">
    <span>{{user.username}}</span>
    <img src="{{user.avtar}}" alt="Avatar" class="avatar" [matMenuTriggerFor]="menu">
  </div>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs color="warn">
  <mat-tab label="Profile">
    <app-profile [user]="user"></app-profile>
  </mat-tab>
  <mat-tab label="Feed">
    <app-feed></app-feed>
  </mat-tab>
  <mat-tab label="Post">
    <app-create></app-create>
  </mat-tab>
</mat-tab-group>
