<mat-card class="create-post">
  <form class="example-form">
    <div class="button-row">
      <button mat-button color="accent" mat-mini-fab (click)="imageInput.click()">
        <mat-icon>attachment</mat-icon>
      </button>
      <input hidden type="file" accept="image/*" #imageInput (change)="processFile(imageInput)" name="image" />
      upload image
    </div>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" [(ngModel)]="description" name="description"></textarea>
    </mat-form-field>
    <button mat-button color="accent" (click)="createPost()">create</button>
  </form>
</mat-card>